textarea {
   resize: none;
}

body {
	background-image: url("img/body_background.png");
	font-family: 'Lobster', cursive;
	color: #e91e63;
}

div[name="container"] {
    top: 50%;
    left: 50%;
    width:25em;
    height:20em;
    margin-top: -9em;
    margin-left: -12em;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    position:fixed;

	background-image: url("img/div_background.png");

	-webkit-border-radius: 20px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius: 20px;
	-moz-border-radius-bottomright: 2px;
	border-radius: 20px;
	border-bottom-right-radius: 2px;
	border-color: gray;
}

div[name="container"] h1 {
	text-align: center;
}

div[name="container"] input[id="guardar"]{
  background: #8bc34a;
  background-image: -webkit-linear-gradient(top, #8bc34a, #2980b9);
  background-image: -moz-linear-gradient(top, #8bc34a, #2980b9);
  background-image: -ms-linear-gradient(top, #8bc34a, #2980b9);
  background-image: -o-linear-gradient(top, #8bc34a, #2980b9);
  background-image: linear-gradient(to bottom, #8bc34a, #2980b9);
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border:0px;
}
div[name="container"] input[id="guardar"]:hover {
  background: #8bc34a;
  text-decoration: none;
}

div[name="container"] input[id="limpiar"]{
  background: #e51c23;
  background-image: -webkit-linear-gradient(top, #e51c23, #2980b9);
  background-image: -moz-linear-gradient(top, #e51c23, #2980b9);
  background-image: -ms-linear-gradient(top, #e51c23, #2980b9);
  background-image: -o-linear-gradient(top, #e51c23, #2980b9);
  background-image: linear-gradient(to bottom, #e51c23, #2980b9);
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border:0px;
}
div[name="container"] input[id="limpiar"]:hover {
  background: #e51c23;
  text-decoration: none;
}

input,textarea {
	margin: 10px;
	background-color : #272822;
	color: #F1F1F1;
	border: 1px solid #F1F1F1;
	font-family: 'Lobster', cursive;
}

div[id="notas"] {
    left: 50%;
    width:25em;
    margin-left: -12em;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    position:fixed;

	background-image: url("img/div_background.png");

	-webkit-border-radius: 20px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius: 20px;
	-moz-border-radius-bottomright: 2px;
	border-radius: 20px;
	border-bottom-right-radius: 2px;
	border-color: gray;
}
div[id="notas"] h1 {
	text-align: center;
}

div[id="notas"] div[class="nota"] {
	margin: 10px;
	border: 1px solid gray;
	color: #F1F1F1;
}

div[id="notas"] div[class="nota"] label{
	display: block;
	margin: 3px;
}

div[id="notas"] div[class="nota"] label[name="titulo"],label[name="fecha"]{
	color: #8bc34a;
}